@use '../helpers' as *;

.about {
  padding-top: 220px;
  position: relative;

  &:after {
    @include square(131px);

    content: '';
    position: absolute;
    top: 50%;
    left: 94%;
    background: url('../../assets/images/bg-images/dots.svg') center / contain
      no-repeat;
  }

  @include tablet {
    padding-top: 150px;
  }

  @include mobile {
    padding-top: 70px;
  }

  &__list {
    display: flex;
    flex-direction: column;
    row-gap: 230px;

    @include laptop {
      row-gap: 150px;
    }

    @include tablet {
      row-gap: 80px;
    }

    @include mobile {
      row-gap: 60px;
    }
  }

  &__item {
    &:nth-child(2) {
      .about__card {
        &-body {
          max-width: 420px;
        }

        &-button {
          @include flex-center;
          column-gap: 14px;

          &::after {
            @include square(16px);

            content: '';
            background: url('../../assets/icons/arrow-down.svg') center /
              contain no-repeat;
          }
          @include hover {
            &::after {
              filter: brightness(0) invert(1);
            }
          }
        }
      }
    }
    &:nth-child(even) {
      .about__card {
        flex-direction: row-reverse;
        max-width: 1150px;
        margin-inline: auto;

        @include tablet {
          flex-direction: column;
        }
      }
    }
  }

  &__card {
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 40px;

    @include tablet {
      flex-direction: column;
    }

    &-image {
      @include laptop {
        max-width: 50%;
        &:not(:last-child) {
          margin-bottom: 30px;
        }
      }

      @include tablet {
        max-width: 100%;
      }
    }

    &-body {
      max-width: 486px;

      @include tablet {
        display: contents;
      }
    }

    &-description {
      margin-bottom: 40px;
    }
  }
}
