@use '../helpers' as *;

.header {
  padding-top: 56px;

  @include tablet {
    padding-top: 36px;
  }

  &__logo {
    color: var(--color-dark-blue);
  }

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__overlay {
    transition-duration: var(--transition-duration);

    @include tablet {
      position: fixed;
      inset: 0;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      height: 100vh;
      z-index: 1;
      background-color: var(--color-white);
    }

    &:not(.is-visible) {
      @include tablet {
        opacity: 0;
        visibility: hidden;
        translate: 100%;
      }
    }
  }

  &__menu {
    @include tablet {
      overflow-y: auto;
    }

    &-list {
      display: flex;
      column-gap: 40px;

      @include tablet {
        flex-direction: column;
        align-items: center;
        row-gap: 20px;
      }
    }

    &-link {
      @include fluid-text(18, 16);

      display: inline-flex;
      align-items: center;
      height: 51px;
      opacity: 0.5;

      @include tablet {
        font-size: 36px;
      }

      @include hover {
        opacity: 1;
      }
    }
  }
}
