@use '../helpers' as *;

.reviews {
  margin-top: 266px;

  @include laptop {
    margin-top: 180px;
  }

  @include tablet {
    margin-top: 120px;
  }

  @include mobile {
    margin-top: 80px;
  }

  @include mobile-s {
    margin-top: 60px;
  }
}
