@use '../helpers' as *;

.reviews__block {
  position: relative;
  background: var(--color-gradient-blue);
  border-radius: 24px;
  padding: 64px 118px 79px;

  &::after {
    @include square(131px);

    content: '';
    position: absolute;
    left: 92%;
    top: -5%;
    z-index: 3;
    background: url('../../assets/images/bg-images/dots.svg') center / contain
      no-repeat;
    filter: brightness(0) invert(100%);
  }
}
