@use '../helpers' as *;

.review-card {
  &__customer {
    display: flex;
    align-items: center;
    column-gap: 30px;

    &-image {
      border: 5px solid var(--color-white);
      border-radius: 50%;
    }
  }

  &__info {
    &-name {
      @include fluid-text(22px, 20px);
      font-weight: 700;
      line-height: 2.18;
    }

    &-company {
      font-weight: 400;
      font-size: 18px;
      line-height: 2.67;
      opacity: 0.85;
    }

    &-name,
    &-company {
      color: var(--color-white);
    }
  }
}
