@use '../helpers' as *;

.reviews {
  padding-top: 266px;

  &__title {
    color: var(--color-white);
  }

  .section-title--center-line {
    &:after {
      background-color: var(--color-white);
    }
  }

  &__wrapper {
    position: relative;
    height: 100%;
  }

  &__slider {
    width: 100%;
    padding: 64px 118px 79px;
    background: linear-gradient(223deg, #67c3f3 0%, #5a98f2 100%);
    border-radius: var(--border-radius-24);

    &-actions {
      margin-bottom: 150px;
      .swiper-pagination {
        bottom: -50px;
      }
    }
  }
}
