:root {
  --color-primary: #7d7987;
  --color-white: #ffffff;
  --color-black: #000000;
  --color-blue: #458ff6;
  --color-blue-alternate: #4089ed;
  --color-dark-purple: #1f1534;
  --color-gradient-blue: linear-gradient(212deg, #67c3f3 0%, #5a98f2 100%);

  --container-width: 1120px;
  --container-padding-x: 20px;

  --font-family-base: 'Mulish', sans-serif;

  --border-radius-20: 20px;
  --border-radius-55: 55px;

  --shadow: 10px 40px 50px 0 rgba(229, 233, 246, 0.4);

  --button-height: 56px;
  --button-border: 1.4px solid #458ff6;

  --transition-duration: 0.2s;
}
