@charset "UTF-8";
/**
  Нормализация блочной модели
 */
*,
::before,
::after {
  box-sizing: border-box;
}

/**
  Убираем внутренние отступы слева тегам списков,
  у которых есть атрибут class
 */
:where(ul, ol):where([class]) {
  padding-left: 0;
}

/**
  Убираем внешние отступы body и двум другим тегам,
  у которых есть атрибут class
 */
body,
:where(blockquote, figure):where([class]) {
  margin: 0;
}

/**
  Убираем внешние отступы вертикали нужным тегам,
  у которых есть атрибут class
 */
:where(h1, h2, h3, h4, h5, h6, p, ul, ol, dl):where([class]) {
  margin-block: 0;
}

:where(dd[class]) {
  margin-left: 0;
}

:where(fieldset[class]) {
  margin-left: 0;
  padding: 0;
  border: none;
}

/**
  Убираем стандартный маркер маркированному списку,
  у которого есть атрибут class
 */
:where(ul[class]) {
  list-style: none;
}

:where(address[class]) {
  font-style: normal;
}

/**
  Обнуляем вертикальные внешние отступы параграфа,
  объявляем локальную переменную для внешнего отступа вниз,
  чтобы избежать взаимодействие с более сложным селектором
 */
p {
  --paragraphMarginBottom: 24px;
  margin-block: 0;
}

/**
  Внешний отступ вниз для параграфа без атрибута class,
  который расположен не последним среди своих соседних элементов
 */
p:where(:not([class]):not(:last-child)) {
  margin-bottom: var(--paragraphMarginBottom);
}

/**
  Упрощаем работу с изображениями и видео
 */
img,
video {
  display: block;
  max-width: 100%;
  height: auto;
}

/**
  Наследуем свойства шрифт для полей ввода
 */
input,
textarea,
select,
button {
  font: inherit;
}

html {
  /**
    Пригодится в большинстве ситуаций
    (когда, например, нужно будет "прижать" футер к низу сайта)
   */
  height: 100%;
  /**
    Убираем скачок интерфейса по горизонтали
    при появлении / исчезновении скроллбара
   */
  scrollbar-gutter: stable;
}

/**
  Плавный скролл
 */
html,
:has(:target) {
  scroll-behavior: smooth;
}

body {
  /**
    Пригодится в большинстве ситуаций
    (когда, например, нужно будет "прижать" футер к низу сайта)
   */
  min-height: 100%;
  /**
    Унифицированный интерлиньяж
   */
  line-height: 1.5;
}

/**
  Нормализация высоты элемента ссылки при его инспектировании в DevTools
 */
a:where([class]) {
  display: inline-flex;
}

/**
  Курсор-рука при наведении на элемент
 */
button,
label {
  cursor: pointer;
}

/**
  Приводим к единому цвету svg-элементы
 */
[fill] {
  fill: currentColor;
}

[stroke] {
  stroke: currentColor;
}

/**
  Чиним баг задержки смены цвета при взаимодействии с svg-элементами
 */
svg * {
  transition-property: fill, stroke;
}

/**
  Удаляем все анимации и переходы для людей,
  которые предпочитают их не использовать
 */
@media (prefers-reduced-motion: reduce) {
  *,
  ::before,
  ::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
@font-face {
  font-family: "Mulish";
  src: url("../fonts/Mulish-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Mulish";
  src: url("../fonts/Mulish-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Mulish";
  src: url("../fonts/Mulish-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Mulish";
  src: url("../fonts/Mulish-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
:root {
  --color-primary: #7d7987;
  --color-white: #ffffff;
  --color-black: #000000;
  --color-blue: #458ff6;
  --color-blue-alternate: #4089ed;
  --color-dark-blue: #233348;
  --color-blue-dots: #5b9bf3;
  --color-dark-purple: #1f1534;
  --color-gradient-blue: linear-gradient(223deg, #67c3f3 0%, #5a98f2 100%);
  --color-gradient-blue-alternate: linear-gradient(
    212deg,
    #67c3f3 0%,
    #5a98f2 100%
  );
  --container-width-lg: 1270px;
  --container-width-md: 1220px;
  --container-width-md-s: 1170px;
  --container-width-sm: 1120px;
  --container-padding-x: 20px;
  --font-family-base: "Mulish", sans-serif;
  --border-radius-55: 55px;
  --border-radius-24: 24px;
  --border-radius-20: 20px;
  --shadow-card: 10px 40px 50px 0 rgba(229, 233, 246, 0.4);
  --button-height: 56px;
  --button-border: 1.4px solid #458ff6;
  --transition-duration: 0.2s;
}

.container-lg {
  max-width: calc(var(--container-width-lg) + var(--container-padding-x) * 2);
  margin-inline: auto;
  padding-inline: var(--container-padding-x);
}

.container-md {
  max-width: calc(var(--container-width-md) + var(--container-padding-x) * 2);
  margin-inline: auto;
  padding-inline: var(--container-padding-x);
}

.container-md-s {
  max-width: calc(var(--container-width-md-s) + var(--container-padding-x) * 2);
  margin-inline: auto;
  padding-inline: var(--container-padding-x);
}

.container-sm {
  max-width: calc(var(--container-width-sm) + var(--container-padding-x) * 2);
  margin-inline: auto;
  padding-inline: var(--container-padding-x);
}

.visually-hidden {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  margin: -1px !important;
  border: 0 !important;
  padding: 0 !important;
  white-space: nowrap !important;
  clip-path: inset(100%) !important;
  clip: rect(0 0 0 0) !important;
  overflow: hidden !important;
}

@media (width <= 1023.98px) {
  .hidden-mobile {
    display: none !important;
  }
}

@media (width > 1023.98px) {
  .visible-mobile {
    display: none !important;
  }
}

html.is-lock {
  overflow: hidden;
}

body {
  font-size: clamp(16px, 1.125vw, 18px);
  font-family: var(--font-family-base);
  display: flex;
  flex-direction: column;
  color: var(--color-primary);
  font-weight: 300;
}

main {
  flex-grow: 1;
}

a,
button,
input,
textarea,
svg * {
  transition-duration: var(--transition-duration);
}

a {
  color: var(--color-dark-purple);
  font-weight: 400;
}
@media (hover: hover) {
  a:hover {
    font-weight: 700;
  }
}
@media (hover: none) {
  a:active {
    font-weight: 700;
  }
}
a[class] {
  text-decoration: none;
}

button {
  border: none;
  background: none;
}

h1,
.h1,
h2,
.h2,
h3,
.h3 {
  font-weight: 700;
  color: var(--color-black);
}

h1,
.h1 {
  font-size: clamp(40px, 3vw, 48px);
  line-height: 1.17;
}

h2,
.h2 {
  font-size: clamp(28px, 2.25vw, 36px);
}

h3,
.h3 {
  font-size: clamp(18px, 1.5vw, 24px);
}

.logo {
  display: flex;
  align-items: center;
  font-size: 24px;
  font-weight: 700;
  column-gap: 12px;
  color: var(--color-dark-blue);
  z-index: 2;
}
.logo-icon {
  width: 41px;
  height: 41px;
}

.header {
  padding-top: 56px;
}
@media (width <= 1023.98px) {
  .header {
    padding-top: 36px;
  }
}
.header__logo {
  color: var(--color-dark-blue);
}
.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__overlay {
  transition-duration: var(--transition-duration);
}
@media (width <= 1023.98px) {
  .header__overlay {
    position: fixed;
    inset: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    z-index: 1;
    background-color: var(--color-white);
  }
}
@media (width <= 1023.98px) {
  .header__overlay:not(.is-visible) {
    opacity: 0;
    visibility: hidden;
    translate: 100%;
  }
}
@media (width <= 1023.98px) {
  .header__menu {
    overflow-y: auto;
  }
}
.header__menu-list {
  display: flex;
  column-gap: 40px;
}
@media (width <= 1023.98px) {
  .header__menu-list {
    flex-direction: column;
    align-items: center;
    row-gap: 20px;
  }
}
.header__menu-link {
  font-size: clamp(16px, 1.125vw, 18px);
  display: inline-flex;
  align-items: center;
  height: 51px;
  opacity: 0.5;
}
@media (width <= 1023.98px) {
  .header__menu-link {
    font-size: 36px;
  }
}
@media (hover: hover) {
  .header__menu-link:hover {
    opacity: 1;
  }
}
@media (hover: none) {
  .header__menu-link:active {
    opacity: 1;
  }
}

.button {
  height: var(--button-height);
  color: var(--color-blue);
  background: var(--color-white);
  border: var(--button-border);
  border-radius: 55px;
  min-width: 200px;
  font-size: 18px;
  font-weight: 700;
}
@media (hover: hover) {
  .button:hover {
    background: var(--color-gradient-blue);
    color: var(--color-white);
    border: none;
  }
}
@media (hover: none) {
  .button:active {
    background: var(--color-gradient-blue);
    color: var(--color-white);
    border: none;
  }
}
.button--bg-blue {
  background: var(--color-blue);
  color: var(--color-white);
  font-weight: 700;
  padding-inline: 40px;
}
@media (hover: hover) {
  .button--bg-blue:hover {
    background: var(--color-white);
    color: var(--color-blue);
    border: var(--button-border);
  }
}
@media (hover: none) {
  .button--bg-blue:active {
    background: var(--color-white);
    color: var(--color-blue);
    border: var(--button-border);
  }
}

.burger-button {
  width: 40px;
  height: 40px;
  display: inline-flex;
  flex-direction: column;
  justify-content: space-evenly;
  z-index: 2;
}
.burger-button.is-active .burger-button__line:first-child {
  rotate: 45deg;
  translate: 0px 10px;
}
.burger-button.is-active .burger-button__line:nth-child(2) {
  rotate: -45deg;
}
.burger-button.is-active .burger-button__line:last-child {
  width: 0;
}
.burger-button__line {
  height: 3px;
  width: 100%;
  background-color: var(--color-dark-blue);
  border-radius: 10px;
  transition-duration: var(--transition-duration);
}

.grid {
  --gridColumns: 1;
  display: grid;
  grid-template-columns: repeat(var(--gridColumns), 1fr);
  gap: 34px;
}
@media (width <= 767.98px) {
  .grid {
    gap: 20px;
  }
}
.grid--2 {
  --gridColumns: 2;
}
.grid--3 {
  --gridColumns: 3;
}
.grid--4 {
  --gridColumns: 4;
}
.grid--5 {
  --gridColumns: 5;
}
.grid--6 {
  --gridColumns: 6;
}
.grid--7 {
  --gridColumns: 7;
}
.grid--8 {
  --gridColumns: 8;
}
.grid--9 {
  --gridColumns: 9;
}
.grid--10 {
  --gridColumns: 10;
}
.grid--11 {
  --gridColumns: 11;
}
.grid--12 {
  --gridColumns: 12;
}
@media (width <= 1023.98px) {
  .grid--2 {
    --gridColumns: 1;
  }
}
@media (width <= 1023.98px) {
  .grid--3 {
    --gridColumns: 2;
  }
}
@media (width <= 767.98px) {
  .grid--3 {
    --gridColumns: 1;
  }
}

.section--hidden-x {
  overflow-x: hidden;
}
.section-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 950px;
  margin-inline: auto;
}
.section-header:not(:last-child) {
  margin-bottom: 80px;
}
@media (width <= 1023.98px) {
  .section-header:not(:last-child) {
    margin-bottom: 60px;
  }
}
@media (width <= 767.98px) {
  .section-header:not(:last-child) {
    margin-bottom: 40px;
  }
}
.section-title {
  position: relative;
  display: inline-flex;
}
@media (width <= 1023.98px) {
  .section-title {
    text-align: center;
  }
}
.section-title:not(:last-child) {
  margin-bottom: 60px;
}
.section-title--center-line:after {
  position: absolute;
  left: 50%;
  translate: -50%;
  content: "";
  top: 100%;
  width: 56px;
  height: 2px;
  margin-top: 26px;
  background-color: var(--color-black);
}
.section-title--start-line:before {
  content: "";
  position: absolute;
  margin-top: 26px;
  top: 100%;
  width: 56px;
  height: 2px;
  background-color: var(--color-black);
}
@media (width <= 1023.98px) {
  .section-title--start-line:before {
    position: absolute;
    left: 50%;
    translate: -50%;
    top: 100%;
  }
}
.section-title--color-white {
  color: var(--color-white);
}
.section-title--color-white::after {
  background-color: var(--color-white);
}
@media (width <= 1023.98px) {
  .section-description {
    text-align: justify;
  }
}

.reviews__slider {
  position: relative;
}
.reviews__slider::before {
  width: 20%;
  height: 20%;
  content: "";
  position: absolute;
  z-index: -1;
  background: url("../../assets/images/bg-images/dots.svg") center/contain no-repeat;
  top: 50%;
  left: -4.5%;
}
.reviews__slider-actions {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 336px;
  margin: 50px auto 0px;
  column-gap: 15px;
}
@media (width <= 767.98px) {
  .reviews__slider-actions {
    margin: 30px auto;
  }
}
.reviews__slider-actions .swiper-pagination {
  position: relative;
  top: 1px;
  display: inline-flex;
  justify-content: center;
  gap: 18px;
}
.reviews__slider-actions .swiper-pagination-bullet {
  margin: 0 !important; /* Убираем стандартные margin */
  background-color: var(--color-blue-dots);
}
.reviews__slider-button-prev, .reviews__slider-button-next {
  cursor: pointer;
  padding: 8px;
}
.reviews__slider-button-next.swiper-button-disabled, .reviews__slider-button-prev.swiper-button-disabled {
  opacity: 0.3;
  cursor: not-allowed;
}
.reviews__slider-icon-arrow {
  width: 28px;
  height: 17px;
  fill: var(--color-blue);
}
.reviews__body {
  position: relative;
  background: var(--color-gradient-blue-alternate);
  border-radius: 24px;
  padding: 64px 118px 79px;
  max-width: var(--container-width-sm);
  overflow: hidden;
  margin-inline: auto;
}
@media (width <= 1023.98px) {
  .reviews__body {
    padding: 45px 70px 60px;
  }
}
@media (width <= 767.98px) {
  .reviews__body {
    padding: 30px 55px 40px;
  }
}
.reviews__body::after {
  width: 25%;
  height: 25%;
  content: "";
  position: absolute;
  background: url("../../assets/images/bg-images/dots.svg") center/contain no-repeat;
  top: -4%;
  left: 86%;
  filter: brightness(0) saturate(100%) invert(100%) sepia(64%) saturate(3859%) hue-rotate(177deg) brightness(107%) contrast(103%);
}

.review-card {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 50px;
  margin-top: 104px;
}
@media (width <= 1023.98px) {
  .review-card {
    flex-direction: column;
    margin-top: 80px;
  }
}
@media (width <= 767.98px) {
  .review-card {
    gap: 20px;
  }
}
.review-card__customer {
  display: flex;
  align-items: center;
  gap: 30px;
  flex-shrink: 0;
}
@media (width <= 767.98px) {
  .review-card__customer {
    flex-direction: column;
    gap: 15px;
  }
}
.review-card__customer-image {
  border: 4px solid var(--color-white);
  border-radius: 100%;
}
.review-card__info-name, .review-card__info-company {
  color: var(--color-white);
}
@media (width <= 767.98px) {
  .review-card__info-name, .review-card__info-company {
    text-align: center;
  }
}
.review-card__info-name {
  font-weight: 700;
  font-size: 22px;
}
.review-card__info-company {
  font-weight: 400;
}
.review-card__body {
  max-width: 420px;
  color: var(--color-white);
  font-weight: 400;
  font-size: 19px;
  line-height: 1.58;
}
.review-card__body p::before {
  content: "“";
}
.review-card__body p::after {
  content: "”";
}
@media (width <= 1023.98px) {
  .review-card__body {
    max-width: 100%;
  }
}

.service-card {
  display: flex;
  flex-direction: column;
  background-color: var(--color-white);
  border-radius: var(--border-radius-20);
  box-shadow: var(--shadow-card);
  padding: 54px 45px 46px 37px;
  min-height: 350px;
  height: 100%;
}
.service-card__wrapper-image {
  height: 95px;
}
.service-card__wrapper-image:not(:last-child) {
  margin-bottom: 20px;
}
.service-card__description {
  font-size: 16px;
  line-height: 1.75;
}

.article-card {
  display: flex;
  flex-direction: column;
  background-color: var(--color-white);
  border-radius: var(--border-radius-20);
  box-shadow: var(--shadow-card);
  min-height: 350px;
  height: 100%;
}
.article-card__body {
  display: flex;
  flex-direction: column;
  padding: 24px 51px 35px 33px;
  flex-grow: 1;
}
.article-card__image {
  width: 100%;
  border-radius: var(--border-radius-20) var(--border-radius-20) 0 0;
}
.article-card__title {
  font-size: clamp(18px, 1.3125vw, 21px);
  line-height: 1.52;
}
.article-card__title:not(:last-child) {
  margin-bottom: 12px;
}
.article-card__description {
  flex: 1 1 auto;
  font-size: 16px;
  line-height: 1.75;
}
.article-card__description:not(:last-child) {
  margin-bottom: 25px;
}
.article-card__link {
  display: flex;
  align-items: center;
  column-gap: 12px;
  color: var(--color-blue-alternate);
  font-size: 17px;
  font-weight: 600;
  font-size: 1.65;
}
.article-card__link:hover {
  color: #2761b3;
}
.article-card__icon-arrow {
  width: 15px;
  height: 15px;
  fill: currentColor;
}

.hero {
  position: relative;
  padding: 84px 0px 190px 0px;
}
.hero:before {
  width: 131px;
  height: 131px;
  content: "";
  position: absolute;
  left: -50px;
  top: 10%;
  background: url("../../assets/images/bg-images/dots.svg") center/contain no-repeat;
}
@media (width <= 1023.98px) {
  .hero {
    padding: 64px 0px 120px 0px;
  }
}
.hero__main {
  display: flex;
  align-items: center;
  justify-content: space-between;
  column-gap: 25px;
}
@media (width <= 767.98px) {
  .hero__main {
    flex-direction: column;
  }
}
.hero__body {
  max-width: 440px;
}
@media (width <= 767.98px) {
  .hero__body {
    display: contents;
  }
}
@media (width <= 767.98px) {
  .hero__title {
    order: -2;
    text-align: center;
  }
}
.hero__title:not(:last-child) {
  margin-bottom: 25px;
}
.hero__description {
  font-size: clamp(18px, 1.3125vw, 21px);
  line-height: 1.52;
}
.hero__description:not(:last-child) {
  margin-bottom: 45px;
}
@media (width <= 767.98px) {
  .hero__description {
    text-align: justify;
  }
  .hero__description:not(:last-child) {
    margin-bottom: 25px;
  }
}
@media (width <= 767.98px) {
  .hero__button {
    max-width: 250px;
    width: 100%;
  }
}
.hero__image {
  margin-right: -30px;
}
@media (width <= 1180.98px) {
  .hero__image {
    max-width: 50%;
    height: auto;
    margin-right: 0;
  }
}
@media (width <= 767.98px) {
  .hero__image {
    max-width: 100%;
    order: -1;
    margin-bottom: 50px;
  }
}

.services {
  position: relative;
}
.services:before {
  width: 90%;
  height: 90%;
  content: "";
  position: absolute;
  top: -5%;
  left: -20%;
  background: url("../../assets/images/bg-images/vector.svg") center/contain no-repeat;
  z-index: -1;
}
.services__inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 70px;
}
@media (width <= 1023.98px) {
  .services__inner {
    row-gap: 50px;
  }
}
.services__list {
  position: relative;
}
.services__list:after {
  width: 131px;
  height: 131px;
  position: absolute;
  top: 50%;
  translate: 0 -50%;
  content: "";
  left: 95%;
  background: url("../../assets/images/bg-images/dots.svg") center/contain no-repeat;
  z-index: -1;
}
@media (width <= 1023.98px) {
  .services__list:after {
    top: 33%;
  }
}

.about {
  padding-top: 220px;
  position: relative;
}
.about:after {
  width: 131px;
  height: 131px;
  content: "";
  position: absolute;
  top: 50%;
  left: 94%;
  background: url("../../assets/images/bg-images/dots.svg") center/contain no-repeat;
}
@media (width <= 1023.98px) {
  .about {
    padding-top: 150px;
  }
}
@media (width <= 767.98px) {
  .about {
    padding-top: 70px;
  }
}
.about__list {
  display: flex;
  flex-direction: column;
  row-gap: 230px;
}
@media (width <= 1180.98px) {
  .about__list {
    row-gap: 150px;
  }
}
@media (width <= 1023.98px) {
  .about__list {
    row-gap: 80px;
  }
}
@media (width <= 767.98px) {
  .about__list {
    row-gap: 60px;
  }
}
.about__item:nth-child(2) .about__card-body {
  max-width: 420px;
}
.about__item:nth-child(2) .about__card-button {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 14px;
}
.about__item:nth-child(2) .about__card-button::after {
  width: 16px;
  height: 16px;
  content: "";
  background: url("../../assets/icons/arrow-down.svg") center/contain no-repeat;
}
@media (hover: hover) {
  .about__item:nth-child(2) .about__card-button:hover::after {
    filter: brightness(0) invert(1);
  }
}
@media (hover: none) {
  .about__item:nth-child(2) .about__card-button:active::after {
    filter: brightness(0) invert(1);
  }
}
.about__item:nth-child(even) .about__card {
  flex-direction: row-reverse;
  max-width: 1150px;
  margin-inline: auto;
}
@media (width <= 1023.98px) {
  .about__item:nth-child(even) .about__card {
    flex-direction: column;
  }
}
.about__card {
  display: flex;
  align-items: center;
  justify-content: space-between;
  column-gap: 40px;
}
@media (width <= 1023.98px) {
  .about__card {
    flex-direction: column;
  }
}
@media (width <= 1180.98px) {
  .about__card-image {
    max-width: 50%;
  }
  .about__card-image:not(:last-child) {
    margin-bottom: 30px;
  }
}
@media (width <= 1023.98px) {
  .about__card-image {
    max-width: 100%;
  }
}
.about__card-body {
  max-width: 486px;
}
@media (width <= 1023.98px) {
  .about__card-body {
    display: contents;
  }
}
.about__card-description {
  margin-bottom: 40px;
}

.reviews {
  margin-top: 266px;
}
@media (width <= 1180.98px) {
  .reviews {
    margin-top: 180px;
  }
}
@media (width <= 1023.98px) {
  .reviews {
    margin-top: 120px;
  }
}
@media (width <= 767.98px) {
  .reviews {
    margin-top: 80px;
  }
}
@media (width <= 480.98px) {
  .reviews {
    margin-top: 60px;
  }
}

.articles {
  margin-top: 220px;
  position: relative;
}
.articles::after {
  width: 100%;
  height: 100%;
  content: "";
  position: absolute;
  background: url("../../assets/images/bg-images/vector.svg") center/contain no-repeat;
  left: 35%;
  top: 0;
  z-index: -1;
  transform: rotate(180deg);
}
@media (width <= 1180.98px) {
  .articles {
    margin-top: 160px;
  }
}
@media (width <= 1023.98px) {
  .articles {
    margin-top: 100px;
  }
}
@media (width <= 767.98px) {
  .articles {
    margin-top: 70px;
  }
}
@media (width <= 480.98px) {
  .articles {
    margin-top: 60px;
  }
}
.articles__header {
  margin-bottom: 105px;
}
.articles__inner {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.articles__list:not(:last-child) {
  margin-bottom: 70px;
}
.articles__item:first-child {
  position: relative;
}
.articles__item:first-child::before {
  width: 131px;
  height: 131px;
  content: "";
  position: absolute;
  background: url("../../assets/images/bg-images/dots.svg") center/contain no-repeat;
  left: -15%;
  top: -10%;
  z-index: -1;
}

.footer {
  position: relative;
  overflow: hidden;
  margin-top: 120px;
  padding-top: 80px;
}
@media (width <= 1180.98px) {
  .footer {
    margin-top: 80px;
  }
}
@media (width <= 1023.98px) {
  .footer {
    margin-top: 60px;
  }
  .footer::after {
    top: 100%;
  }
}
.footer::before {
  width: 131px;
  height: 131px;
  content: "";
  position: absolute;
  background: url("../../assets/images/bg-images/dots.svg") center/contain no-repeat;
  left: -1%;
  top: 80%;
  filter: brightness(0) saturate(100%) invert(100%) sepia(64%) saturate(3859%) hue-rotate(177deg) brightness(107%) contrast(103%);
}
@media (width <= 1180.98px) {
  .footer::before {
    left: 85%;
    top: 80%;
  }
}
.footer::after {
  width: 131px;
  height: 131px;
  content: "";
  position: absolute;
  background: url("../../assets/images/bg-images/dots.svg") center/contain no-repeat;
  left: 70%;
  top: 0%;
  z-index: -1;
}
.footer__body {
  background: var(--color-gradient-blue-alternate);
}
.footer__inner {
  display: flex;
  justify-content: space-between;
  padding-block: 120px;
  gap: 50px;
}
@media (width <= 1023.98px) {
  .footer__inner {
    flex-direction: column;
    padding-block: 60px;
    max-width: 600px;
    margin-inline: auto;
  }
}
@media (width <= 767.98px) {
  .footer__inner {
    flex-direction: column;
    padding-block: 60px;
    max-width: 100%;
    margin-inline: auto;
    gap: 30px;
  }
}
.footer__info {
  max-width: 379px;
}
@media (width <= 767.98px) {
  .footer__info {
    max-width: 100%;
    display: contents;
  }
}
.footer__info-logo {
  color: var(--color-white);
}
.footer__info-logo:not(:last-child) {
  margin-bottom: 16px;
}
.footer__info-icon {
  fill: currentColor;
}
.footer__info-description {
  color: var(--color-white);
}
.footer__info-description:not(:last-child) {
  margin-bottom: 30px;
}
.footer__info-copyright {
  color: var(--color-white);
  order: 1;
}
.footer__menu {
  display: flex;
  flex-wrap: wrap;
  gap: 60px;
  justify-content: space-between;
}
.footer__menu-column {
  min-width: 140px;
}
.footer__menu-title {
  color: var(--color-white);
  font-weight: 700;
  font-size: 20px;
}
.footer__menu-title:not(:last-child) {
  margin-bottom: 15px;
}
.footer__menu-item:not(:last-child) {
  margin-bottom: 10px;
}
.footer__menu-link {
  color: var(--color-white);
  white-space: nowrap;
  font-size: 18px;
  font-weight: 300;
}

/*# sourceMappingURL=main.css.map */
